.App {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-color: #fafafa;
  min-height: 100vh;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.0)
}

.right-panel {
  width: 40%;
  margin-left: 15px;
}

.right-panel-top {
  height: 450px;
  margin-bottom: 45px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  background-image: url("battleground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.right-panel-bottom {
  height: 650px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding-top: 15px;
}

.scrollable {
  height: 98%;
  overflow-y: auto;
  margin: auto;
}

.left-panel {
  width: 60%;
}

.poke-name {
  background-color:rgba(0, 0, 0, 0.3);
  width: 45%;
  position: absolute;
  right: 170px;
  top: 110px;
  padding-bottom: 10px;
  padding-inline-start: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.poke-name h4 {
  margin: 0;
  font-style: italic;
  font-weight: bold;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.poke-hp {
  position: absolute;
  right: 172px;
  top: 126px;
}

.poke-hp p {
  margin: 0;
  font-size: 18px;
  color: red;
  font-weight: bold;
  -webkit-text-fill-color: red; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}